---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,media&q=doi:10.7554/elife.01567&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Sun, 07 May 2017 14:21:24 GMT
recorded_with: VCR 3.0.3
