---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,media&q=doi:10.5438/0000-0c2g&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.5438/0000-0C2G","media":["application/xml:https://blog.datacite.org/oi-project-underway-for-open-org-id-registry/oi-project-underway-for-open-org-id-registry.xml"]}]}}

'
  recorded_at: Wed, 12 Apr 2017 13:22:11 GMT
- request:
    method: head
    uri: https://doi.org/10.5438/0000-0C2G
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: ''
    headers:
      Location:
      - https://blog.datacite.org/oi-project-underway-for-open-org-id-registry/
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Apr 2017 13:22:11 GMT
recorded_with: VCR 3.0.3
