---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,media&q=doi:10.5061/dryad.8515&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.5061/DRYAD.8515"}]}}

'
  recorded_at: Fri, 24 Nov 2017 23:08:41 GMT
- request:
    method: head
    uri: https://handle.test.datacite.org/10.5061/dryad.8515
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://datadryad.org/handle/10255/dryad.8515
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Nov 2017 23:08:42 GMT
recorded_with: VCR 3.0.3
