---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.4124/12345678987654321
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"4304d998093cb55192cb136d6532ceac"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"0000-0000-0000-000w","type":"media","attributes":{"version":0,"url":"http://www.bl.uk/reshelp/experthelp/science/inspiringscience/2014/NASAPerpetualOcean_lrg.jpg","media-type":"image/jpg","created":"2014-06-13T13:14:55.000Z","updated":"2014-06-13T13:14:55.000Z"},"relationships":{"doi":{"meta":{}}}},{"id":"0000-0000-0000-000s","type":"media","attributes":{"version":0,"url":"http://www.bl.uk/aboutus/stratpolprog/digi/datasets/  WorkingWithDataCite_2013.pdf","media-type":"application/pdf","created":"2014-06-13T13:13:33.000Z","updated":"2014-06-13T13:13:33.000Z"},"relationships":{"doi":{"meta":{}}}}],"meta":{"total":2,"total-pages":1,"page":1}}'
  recorded_at: Sat, 03 Mar 2018 07:46:34 GMT
recorded_with: VCR 3.0.3
