---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.4124/12345678987654321/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"2d569c739890ea71a2024a5dbac0e66f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0000-0000-0000-000w","type":"media","attributes":{"version":0,"url":"http://www.bl.uk/reshelp/experthelp/science/inspiringscience/2014/NASAPerpetualOcean_lrg.jpg","media-type":"image/jpg","created":"2014-06-13T13:14:55.000Z","updated":"2014-06-13T13:14:55.000Z"},"relationships":{"doi":{"data":{"id":"10.4124/12345678987654321","type":"dois"}}}},{"id":"0000-0000-0000-000s","type":"media","attributes":{"version":0,"url":"http://www.bl.uk/aboutus/stratpolprog/digi/datasets/  WorkingWithDataCite_2013.pdf","media-type":"application/pdf","created":"2014-06-13T13:13:33.000Z","updated":"2014-06-13T13:13:33.000Z"},"relationships":{"doi":{"data":{"id":"10.4124/12345678987654321","type":"dois"}}}}],"included":[{"id":"10.4124/12345678987654321","type":"dois","attributes":{"doi":"10.4124/12345678987654321","identifier":"https://handle.test.datacite.org/10.4124/12345678987654321","url":"http://st-andrews.ac.uk","prefix":"10.4124","suffix":"12345678987654321","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","reason":null,"source":null,"state":"findable","is-active":true,"landing-page":{"status":200,"content-type":"text/html","checked":"2018-07-05T08:33:18.000Z"},"published":null,"created":"2014-06-13T12:43:33.000Z","registered":"2014-06-13T12:43:33.000Z","updated":"2014-06-13T12:57:30.000Z","xml":null},"relationships":{"client":{"data":{"id":"bl.jisc-mrd","type":"clients"}},"resource-type":{"data":null},"media":{"data":[{"id":"0000-0000-0000-000w","type":"media"},{"id":"0000-0000-0000-000s","type":"media"}]}}}],"meta":{"total":2,"total-pages":1,"page":1},"links":{"self":"https://app.test.datacite.org/dois/10.4124/12345678987654321/media","next":"https://app.test.datacite.org/media?page%5Bnumber%5D=1"}}'
  recorded_at: Thu, 06 Sep 2018 08:26:44 GMT
recorded_with: VCR 3.0.3
