---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,media&q=doi:10.4124/12345678987654321&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.4124/12345678987654321","media":["application/pdf:http://www.bl.uk/aboutus/stratpolprog/digi/datasets/  WorkingWithDataCite_2013.pdf","image/jpg:http://www.bl.uk/reshelp/experthelp/science/inspiringscience/2014/NASAPerpetualOcean_lrg.jpg"]}]}}

'
  recorded_at: Sat, 05 Aug 2017 14:04:58 GMT
recorded_with: VCR 3.0.3
