---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.4124/12345678987654321/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b257cc698745188363d53b21ddc1275f"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"0000-0000-0000-000w","type":"media","attributes":{"version":0,"url":"http://www.bl.uk/reshelp/experthelp/science/inspiringscience/2014/NASAPerpetualOcean_lrg.jpg","media-type":"image/jpg","created":"2014-06-13T13:14:55.000Z","updated":"2014-06-13T13:14:55.000Z"},"relationships":{"doi":{"data":{"id":"10.4124/12345678987654321","type":"dois"}}}},{"id":"0000-0000-0000-000s","type":"media","attributes":{"version":0,"url":"http://www.bl.uk/aboutus/stratpolprog/digi/datasets/  WorkingWithDataCite_2013.pdf","media-type":"application/pdf","created":"2014-06-13T13:13:33.000Z","updated":"2014-06-13T13:13:33.000Z"},"relationships":{"doi":{"data":{"id":"10.4124/12345678987654321","type":"dois"}}}}],"included":[{"id":"10.4124/12345678987654321","type":"dois","attributes":{"doi":"10.4124/12345678987654321","prefix":"10.4124","suffix":"12345678987654321","identifier":"https://handle.test.datacite.org/10.4124/12345678987654321","url":"http://st-andrews.ac.uk","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"findable","is-active":true,"reason":null,"landing-page":{"status":200,"content-type":"text/html","checked":"2018-07-05T08:33:18.000Z"},"xml":null,"published":null,"registered":"2014-06-13T12:43:33.000Z","updated":"2014-06-13T12:57:30.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}],"meta":{"total":2,"total-pages":1,"page":1}}'
  recorded_at: Thu, 05 Jul 2018 08:41:57 GMT
recorded_with: VCR 3.0.3
