---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.4124/ccnwxhx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ca5c1ddbb33a0cde28379ad7d4cc7aa5"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":0,"total-pages":0,"page":1}}'
  recorded_at: Mon, 21 May 2018 15:49:08 GMT
- request:
    method: head
    uri: https://handle.test.datacite.org/10.4124/ccnwxhx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://www.ccdc.cam.ac.uk/services/structure_request?id=doi:10.4124/ccnwxhx&sid=DataCite
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 May 2018 15:49:08 GMT
recorded_with: VCR 3.0.3
