---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.4124/ccnwxhx/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"9f7413ee00f87121e7286aeebafde08c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"included":[],"meta":{"total":0,"total-pages":0,"page":1},"links":{"self":"https://api.test.datacite.org/dois/10.4124/ccnwxhx/media"}}'
  recorded_at: Thu, 06 Sep 2018 08:26:45 GMT
- request:
    method: head
    uri: https://handle.test.datacite.org/10.4124/ccnwxhx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      Location:
      - http://www.ccdc.cam.ac.uk/services/structure_request?id=doi:10.4124/ccnwxhx&sid=DataCite
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 06 Sep 2018 08:26:45 GMT
recorded_with: VCR 3.0.3
