---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,media&q=doi:10.5284/1015681&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.5284/1015681","media":["application/pdf:http://archaeologydataservice.ac.uk/catalogue/adsdata/arch-1045-1/dissemination/pdf/356_ThewatertreatmentplantSaltersfordGrantham_Little.pdf"]}]}}

'
  recorded_at: Wed, 12 Apr 2017 19:05:57 GMT
recorded_with: VCR 2.9.3
