---
http_interactions:
- request:
    method: get
    uri: https://api.stage.datacite.org/dois/10.00012/uu01-ltej7x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"8b80da34e1632f39bbb2661b6ae33ffa"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": "https://doi.org/10.00012/uu01-ltej7x",
          "doi": "10.00012/UU01-LTEJ7X",
          "url": "https://145.100.59.25.surf-hosted.nl/yoda-test/UU01/LTEJ7X.html",
          "types": {
            "ris": "DATA",
            "bibtex": "misc",
            "citeproc": "dataset",
            "schemaOrg": "Dataset",
            "resourceType": "Research Data",
            "resourceTypeGeneral": "Dataset"
          },
          "creators": [
            {
              "name": "Minimum: Creator Of Datapackage",
              "affiliation": [
                {
                  "name": "Utrecht University"
                }
              ],
              "nameIdentifiers": []
            }
          ],
          "titles": [
            {
              "lang": "en",
              "title": "Minimum: Title"
            }
          ],
          "publisher": "Utrecht University",
          "container": {},
          "subjects": [],
          "contributors": [],
          "dates": [
            {
              "date": "2019",
              "dateType": "Issued"
            }
          ],
          "publicationYear": 2019,
          "language": "en",
          "identifiers": [
            {
              "identifier": "https://handle.test.datacite.org/10.00012/uu01-ltej7x",
              "identifierType": "DOI"
            }
          ],
          "sizes": [],
          "formats": [],
          "version": "Minimum: Version",
          "rightsList": [
            {
              "rights": "Custom"
            },
            {
              "rights": "Open Access",
              "rightsUri": "info:eu-repo/semantics/openAccess"
            }
          ],
          "descriptions": [
            {
              "description": "Minimum: Description",
              "descriptionType": "Abstract"
            }
          ],
          "geoLocations": [],
          "fundingReferences": [],
          "relatedIdentifiers": [],
          "providerId": "delft",
          "clientId": "delft.uu",
          "agency": "datacite",
          "state": "findable"
        }
  recorded_at: Sat, 11 Jul 2020 14:10:06 GMT
recorded_with: VCR 3.0.3
