---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,media&q=doi:10.15146/r34015&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Sat, 05 Aug 2017 14:04:29 GMT
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.15146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0039d785db4ccf293534abeec75ea56f"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '100000'
      X-Ratelimit-Remaining-Hour:
      - '99997'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.15146","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:24:32Z"}}}'
  recorded_at: Sat, 05 Aug 2017 14:04:30 GMT
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,xml,allocator_symbol,datacentre_symbol,media,minted,updated&q=doi:10.15146/r34015&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Sat, 05 Aug 2017 14:04:31 GMT
recorded_with: VCR 3.0.3
