---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,media&q=doi:10.15146/r34015&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":4},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.15146/R34015"}]}}

'
  recorded_at: Mon, 08 May 2017 06:55:56 GMT
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.15146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0039d785db4ccf293534abeec75ea56f"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.15146","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:24:32Z"}}}'
  recorded_at: Mon, 08 May 2017 06:55:58 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,xml,media,minted,updated&q=doi:10.15146/r34015&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"minted":"2017-03-18T12:04:20Z","updated":"2017-05-01T17:59:06Z","doi":"10.15146/R34015"}]}}

'
  recorded_at: Mon, 08 May 2017 06:56:00 GMT
recorded_with: VCR 3.0.3
