---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,media&q=doi:10.15146/r34015&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Fri, 24 Nov 2017 23:08:49 GMT
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.15146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cb4b9f87ca73707fe836a41d8926df75"
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.15146","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2014-02-07T09:06:33.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"cdl.unmlib","type":"clients"}]},"providers":{"data":[{"id":"cdl","type":"providers"}]}}},"included":[{"id":"cdl.unmlib","type":"clients","attributes":{"name":"University
        of New Mexico Libraries","symbol":"CDL.UNMLIB","year":2014,"contact-name":"Greg
        Janee","contact-email":"gjanee@ucop.edu","domains":"*","is-active":true,"created":"2014-09-24T23:51:51Z","updated":"2017-11-07T17:09:47Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","symbol":"CDL","year":2010,"contact-name":"Greg Janee","contact-email":"gjanee@ucop.edu","logo-url":"https://assets.datacite.org/images/members/cdl.png","is-active":true,"created":"2010-01-01T00:00:00.000Z","updated":"2017-11-09T00:06:44.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Fri, 24 Nov 2017 23:08:49 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.15146/r34015?include=client,provider
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 24 Nov 2017 23:08:49 GMT
recorded_with: VCR 3.0.3
