---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.15146/r34015/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Thu, 06 Sep 2018 08:26:26 GMT
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.15146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"96b2e90adb1a2cbbbe561bbfd4339286"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.15146","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2014-02-07T09:06:33.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"cdl.unmlib","type":"clients"}]},"providers":{"data":[{"id":"cdl","type":"providers"}]}}},"included":[{"id":"cdl.unmlib","type":"clients","attributes":{"name":"University
        of New Mexico Libraries","symbol":"CDL.UNMLIB","year":2014,"contact-name":"EZID
        Support Desk","contact-email":"ezid@ucop.edu","domains":"*","url":null,"created":"2014-09-24T23:51:51.000Z","updated":"2018-08-26T02:35:26.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"cdl","type":"providers"}},"prefixes":{"data":[{"id":"10.5072","type":"prefixes"},{"id":"10.15146","type":"prefixes"},{"id":"10.15145","type":"prefixes"}]}}},{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","symbol":"CDL","website":"http://ezid.cdlib.org","contact-name":"EZID
        Support Desk","contact-email":"ezid@ucop.edu","phone":null,"description":"California
        Digital Library (CDL) handles scholarly information at every stage of its
        life. CDL provides technology and expertise to help the University of California
        (UC) collect, publish, access, and preserve its full range of information
        resources. CDL partners with organizations outside the UCs on far-reaching
        problems.\n\nCDL offers DataCite DOIs to University of California scholars
        and researchers via the EZID service. EZID is also available as a general
        identifier service to help educational, non-profit, governmental and commercial
        clients create and manage globally unique identifiers for data and other sources.","region":"AMER","country":"US","logo-url":"https://assets.datacite.org/images/members/cdl.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2009-12-01","created":"2010-01-01T00:00:00.000Z","updated":"2018-08-26T02:25:51.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.5062","type":"prefixes"},{"id":"10.5063","type":"prefixes"},{"id":"10.5064","type":"prefixes"},{"id":"10.5065","type":"prefixes"},{"id":"10.5067","type":"prefixes"},{"id":"10.5068","type":"prefixes"},{"id":"10.5069","type":"prefixes"},{"id":"10.5070","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.6067","type":"prefixes"},{"id":"10.6071","type":"p[...]
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,url,xml,state,allocator_symbol,datacentre_symbol,media,minted,updated&q=doi:10.15146/r34015&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Thu, 06 Sep 2018 08:26:26 GMT
recorded_with: VCR 3.0.3
