---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.15146/r34015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ca5c1ddbb33a0cde28379ad7d4cc7aa5"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":0,"total-pages":0,"page":1}}'
  recorded_at: Mon, 21 May 2018 15:48:56 GMT
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.15146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"1a39aa0f262fb497ecee619e9ceae058"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.15146","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2014-02-07T09:06:33.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"cdl.unmlib","type":"clients"}]},"providers":{"data":[{"id":"cdl","type":"providers"}]}}},"included":[{"id":"cdl.unmlib","type":"clients","attributes":{"name":"University
        of New Mexico Libraries","symbol":"CDL.UNMLIB","year":2014,"contact-name":"Greg
        Janee","contact-email":"gjanee@ucop.edu","domains":"*","url":null,"is-active":true,"has-password":false,"created":"2014-09-24T23:51:51Z","updated":"2018-05-21T02:30:20Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","symbol":"CDL","website":"http://ezid.cdlib.org","contact-name":"Greg
        Janee","contact-email":"ezid@ucop.edu","phone":null,"description":"California
        Digital Library (CDL) handles scholarly information at every stage of its
        life. CDL provides technology and expertise to help the University of California
        (UC) collect, publish, access, and preserve its full range of information
        resources. CDL partners with organizations outside the UCs on far-reaching
        problems.\n\nCDL offers DataCite DOIs to University of California scholars
        and researchers via the EZID service. EZID is also available as a general
        identifier service to help educational, non-profit, governmental and commercial
        clients create and manage globally unique identifiers for data and other sources.","country":"US","logo-url":"https://assets.datacite.org/images/members/cdl.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2009-12-01","created":"2010-01-01T00:00:00.000Z","updated":"2018-05-21T02:25:51.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Mon, 21 May 2018 15:48:56 GMT
- request:
    method: get
    uri: https://search.test.datacite.org/api?defType=edismax&fl=doi,url,xml,state,allocator_symbol,datacentre_symbol,media,minted,updated&q=10.15146/r34015&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":3},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Mon, 21 May 2018 15:48:56 GMT
recorded_with: VCR 3.0.3
