---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.15146/r34015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ca5c1ddbb33a0cde28379ad7d4cc7aa5"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":0,"total-pages":0,"page":1}}'
  recorded_at: Fri, 23 Feb 2018 12:20:31 GMT
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.15146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"e5ca4b48b198071feba6eb49a70ae121"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.15146","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2014-02-07T09:06:33.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"cdl.unmlib","type":"clients"}]},"providers":{"data":[{"id":"cdl","type":"providers"}]}}},"included":[{"id":"cdl.unmlib","type":"clients","attributes":{"name":"University
        of New Mexico Libraries","symbol":"CDL.UNMLIB","year":2014,"contact-name":"Greg
        Janee","contact-email":"gjanee@ucop.edu","domains":"*","url":null,"is-active":true,"has-password":false,"created":"2014-09-24T23:51:51Z","updated":"2018-02-23T02:30:16Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","symbol":"CDL","year":2010,"contact-name":"Greg Janee","contact-email":"gjanee@ucop.edu","logo-url":"https://assets.datacite.org/images/members/cdl.png","is-active":true,"has-password":true,"created":"2010-01-01T00:00:00.000Z","updated":"2018-02-23T02:25:50.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Fri, 23 Feb 2018 12:20:31 GMT
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.15146/r34015?include=client,provider
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 23 Feb 2018 12:20:32 GMT
recorded_with: VCR 3.0.3
