---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,media&q=doi:10.5438/0000-03vc&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.5438/0000-03VC","media":["application/pdf:http://www.datacite.org/cirneco-test.pdf","application/xml:https://blog.datacite.org/cool-dois/cool-dois.xml"]}]}}

'
  recorded_at: Sat, 28 Oct 2017 17:58:10 GMT
recorded_with: VCR 3.0.3
