---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.5438/0000-03vc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b69745059e6bf77f7b620511f554d6dc"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"0000-0000-0000-mzmg","type":"media","attributes":{"version":17,"url":"https://blog.datacite.org/cool-dois/cool-dois.xml","media-type":"application/xml","created":"2017-07-21T17:36:58.000Z","updated":"2017-07-21T17:43:58.000Z"},"relationships":{"doi":{"meta":{}}}},{"id":"0000-0000-0000-mzmf","type":"media","attributes":{"version":1,"url":"http://www.datacite.org/cirneco-test.pdf","media-type":"application/pdf","created":"2017-07-21T17:36:05.000Z","updated":"2017-07-21T17:43:39.000Z"},"relationships":{"doi":{"meta":{}}}}],"meta":{"total":2,"total-pages":1,"page":1}}'
  recorded_at: Mon, 21 May 2018 15:49:08 GMT
recorded_with: VCR 3.0.3
