---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5438/0000-03vc/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"2f61be26ecb0116417ca0531e90ce923"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0000-0000-0000-mzmg","type":"media","attributes":{"version":17,"url":"https://blog.datacite.org/cool-dois/cool-dois.xml","media-type":"application/xml","created":"2017-07-21T17:36:58.000Z","updated":"2017-07-21T17:43:58.000Z"},"relationships":{"doi":{"data":{"id":"10.5438/0000-03VC","type":"dois"}}}},{"id":"0000-0000-0000-mzmf","type":"media","attributes":{"version":1,"url":"http://www.datacite.org/cirneco-test.pdf","media-type":"application/pdf","created":"2017-07-21T17:36:05.000Z","updated":"2017-07-21T17:43:39.000Z"},"relationships":{"doi":{"data":{"id":"10.5438/0000-03VC","type":"dois"}}}}],"included":[{"id":"10.5438/0000-03vc","type":"dois","attributes":{"doi":"10.5438/0000-03vc","identifier":"https://handle.test.datacite.org/10.5438/0000-03vc","url":null,"prefix":"10.5438","suffix":"0000-03vc","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","reason":null,"source":null,"state":"registered","is-active":false,"landing-page":{"status":null,"content-type":null,"checked":null},"published":null,"created":"2017-07-21T17:36:03.000Z","registered":"2017-07-21T17:36:04.000Z","updated":"2018-08-20T10:04:17.000Z","xml":null},"relationships":{"client":{"data":{"id":"datacite.datacite","type":"clients"}},"resource-type":{"data":null},"media":{"data":[{"id":"0000-0000-0000-mzmg","type":"media"},{"id":"0000-0000-0000-mzmf","type":"media"}]}}}],"meta":{"total":2,"total-pages":1,"page":1},"links":{"self":"https://api.test.datacite.org/dois/10.5438/0000-03vc/media","next":"https://api.test.datacite.org/media?page%5Bnumber%5D=1"}}'
  recorded_at: Thu, 06 Sep 2018 08:26:44 GMT
recorded_with: VCR 3.0.3
