---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.5438/0000-03vc/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"bd6eea36693fef7c05f804eaf1e0c702"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"0000-0000-0000-mzmg","type":"media","attributes":{"version":17,"url":"https://blog.datacite.org/cool-dois/cool-dois.xml","media-type":"application/xml","created":"2017-07-21T17:36:58.000Z","updated":"2017-07-21T17:43:58.000Z"},"relationships":{"doi":{"data":{"id":"10.5438/0000-03vc","type":"dois"}}}},{"id":"0000-0000-0000-mzmf","type":"media","attributes":{"version":1,"url":"http://www.datacite.org/cirneco-test.pdf","media-type":"application/pdf","created":"2017-07-21T17:36:05.000Z","updated":"2017-07-21T17:43:39.000Z"},"relationships":{"doi":{"data":{"id":"10.5438/0000-03vc","type":"dois"}}}}],"included":[{"id":"10.5438/0000-03vc","type":"dois","attributes":{"doi":"10.5438/0000-03vc","prefix":"10.5438","suffix":"0000-03vc","identifier":"https://handle.test.datacite.org/10.5438/0000-03vc","url":null,"author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"registered","is-active":false,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"registered":"2017-07-21T17:36:04.000Z","updated":"2017-08-10T16:06:46.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}],"meta":{"total":2,"total-pages":1,"page":1}}'
  recorded_at: Thu, 05 Jul 2018 08:41:57 GMT
recorded_with: VCR 3.0.3
