---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.5060/xcv8http:/dev.tdar.org/confluence/display/tdar/tdar%20xml%20namespace
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ca5c1ddbb33a0cde28379ad7d4cc7aa5"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":0,"total-pages":0,"page":1}}'
  recorded_at: Wed, 18 Apr 2018 13:33:46 GMT
- request:
    method: get
    uri: https://app.datacite.org/prefixes/10.5060
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"874d2f518fd3704973d63623eb47181a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5060","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2010-01-01T00:00:00.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"cdl.cdl","type":"clients"}]},"providers":{"data":[{"id":"cdl","type":"providers"}]}}},"included":[{"id":"cdl.cdl","type":"clients","attributes":{"name":"California
        Digital Library","symbol":"CDL.CDL","year":2011,"contact-name":"Greg Janee","contact-email":"gjanee@ucop.edu","domains":"*","url":null,"is-active":true,"has-password":false,"created":"2011-03-02T19:09:27Z","updated":"2018-04-18T02:30:06Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","symbol":"CDL","website":"http://ezid.cdlib.org","contact-name":"Greg
        Janee","contact-email":"gjanee@ucop.edu","phone":"+1-510-987-0469","description":"California
        Digital Library (CDL) handles scholarly information at every stage of its
        life. CDL provides technology and expertise to help the University of California
        (UC) collect, publish, access, and preserve its full range of information
        resources. CDL partners with organizations outside the UCs on far-reaching
        problems.\n\nCDL offers DataCite DOIs to University of California scholars
        and researchers via the EZID service. EZID is also available as a general
        identifier service to help educational, non-profit, governmental and commercial
        clients create and manage globally unique identifiers for data and other sources.","country":"US","logo-url":"https://assets.datacite.org/images/members/cdl.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2009-12-01","created":"2010-01-01T00:00:00.000Z","updated":"2018-04-18T02:25:51.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Wed, 18 Apr 2018 13:33:46 GMT
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,url,xml,state,allocator_symbol,datacentre_symbol,media,minted,updated&q=doi:10.5060/xcv8http:/dev.tdar.org/confluence/display/tdar/tdar%20xml%20namespace&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":2},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Wed, 18 Apr 2018 13:33:47 GMT
recorded_with: VCR 3.0.3
