---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,media&q=doi:10.14469/hpc/678&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.14469/HPC/678","media":["chemical/x-gaussian-input:https://data.hpc.imperial.ac.uk/resolve/?doi=678&file=1","chemical/x-gaussian-log:https://data.hpc.imperial.ac.uk/resolve/?doi=678&file=2","chemical/x-gaussian-checkpoint:https://data.hpc.imperial.ac.uk/resolve/?doi=678&file=3","application/xml:https://data.hpc.imperial.ac.uk/resolve/?doi=678&file=4","chemical/x-gaussian-wavefunction:https://data.hpc.imperial.ac.uk/resolve/?doi=678&file=5"]}]}}

'
  recorded_at: Thu, 13 Jul 2017 20:34:37 GMT
recorded_with: VCR 3.0.3
