---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,media&q=doi:10.14469/hpc/678&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Wed, 23 Aug 2017 08:41:15 GMT
- request:
    method: head
    uri: https://handle.test.datacite.org/10.14469/hpc/678
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 23 Aug 2017 08:41:15 GMT
recorded_with: VCR 3.0.3
