---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.15146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.15146",
            "RA": "DataCite"
          }
        ]
  recorded_at: Tue, 23 Jul 2019 07:48:44 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.15146/r34015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Tue, 23 Jul 2019 07:48:44 GMT
recorded_with: VCR 3.0.3
