---
http_interactions:
- request:
    method: get
    uri: https://api.stage.datacite.org/dois/10.2788/011817
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Sat, 11 Jul 2020 14:10:16 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2788/011817/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: Resource not found.
  recorded_at: Sat, 11 Jul 2020 14:10:16 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.2788
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2788",
            "RA": "OP"
          }
        ]
  recorded_at: Sat, 11 Jul 2020 14:10:17 GMT
recorded_with: VCR 3.0.3
