---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,media&q=doi:10.0042/foobar3&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"doi":"10.0042/FOOBAR3","media":["text/csv:http://example.com"]}]}}

'
  recorded_at: Tue, 25 Jul 2017 17:33:19 GMT
recorded_with: VCR 3.0.3
