---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.4124/ccnwxhx/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"9f7413ee00f87121e7286aeebafde08c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"included":[],"meta":{"total":0,"total-pages":0,"page":1},"links":{"self":"https://app.test.datacite.org/dois/10.4124/ccnwxhx/media"}}'
  recorded_at: Sat, 25 Aug 2018 18:21:18 GMT
recorded_with: VCR 3.0.3
