---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.0042/foobar3/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ef003844cd581390670904731ba9677d"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"0000-0000-0000-0006","type":"media","attributes":{"version":0,"url":"http://example.com","media-type":"text/csv","created":"2012-12-12T13:35:33.000Z","updated":"2012-12-12T13:35:33.000Z"},"relationships":{"doi":{"data":{"id":"10.0042/foobar3","type":"dois"}}}}],"included":[{"id":"10.0042/foobar3","type":"dois","attributes":{"doi":"10.0042/foobar3","prefix":"10.0042","suffix":"foobar3","identifier":"https://handle.test.datacite.org/10.0042/foobar3","url":"http://example.com","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"findable","is-active":true,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"registered":"2012-12-12T13:30:01.000Z","updated":"2012-12-12T13:30:01.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}],"meta":{"total":1,"total-pages":1,"page":1}}'
  recorded_at: Thu, 05 Jul 2018 08:41:59 GMT
recorded_with: VCR 3.0.3
