---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.4124/demodataset4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"77877ca6c82b422e07ecfcc54d167a1d"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"0000-0000-0000-000k","type":"media","attributes":{"version":0,"url":"http://www.bl.uk/reshelp/experthelp/science/sciencetechnologymedicinecollections/researchdatasets/SearchMovieTN.jpg","media-type":"image/jpeg","created":"2014-04-30T08:49:16.000Z","updated":"2014-04-30T08:49:16.000Z"},"relationships":{"doi":{"meta":{}}}},{"id":"0000-0000-0000-000j","type":"media","attributes":{"version":1,"url":"http://www.bl.uk/aboutus/stratpolprog/digi/datasets/WorkingWithDataCite_2013.pdf","media-type":"application/pdf","created":"2014-04-30T08:45:37.000Z","updated":"2014-04-30T08:45:48.000Z"},"relationships":{"doi":{"meta":{}}}}],"meta":{"total":2,"total-pages":1,"page":1}}'
  recorded_at: Fri, 23 Feb 2018 10:16:23 GMT
recorded_with: VCR 3.0.3
