---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.4124/demodataset4/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b1190a6380ebfab7fdb254216d6fb6ea"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0000-0000-0000-000k","type":"media","attributes":{"version":0,"url":"http://www.bl.uk/reshelp/experthelp/science/sciencetechnologymedicinecollections/researchdatasets/SearchMovieTN.jpg","media-type":"image/jpeg","created":"2014-04-30T08:49:16.000Z","updated":"2014-04-30T08:49:16.000Z"},"relationships":{"doi":{"data":{"id":"10.4124/DEMODATASET4","type":"dois"}}}},{"id":"0000-0000-0000-000j","type":"media","attributes":{"version":1,"url":"http://www.bl.uk/aboutus/stratpolprog/digi/datasets/WorkingWithDataCite_2013.pdf","media-type":"application/pdf","created":"2014-04-30T08:45:37.000Z","updated":"2014-04-30T08:45:48.000Z"},"relationships":{"doi":{"data":{"id":"10.4124/DEMODATASET4","type":"dois"}}}}],"included":[{"id":"10.4124/demodataset4","type":"dois","attributes":{"doi":"10.4124/demodataset4","identifier":"https://handle.test.datacite.org/10.4124/demodataset4","url":"http://bl.uk/datasets","prefix":"10.4124","suffix":"demodataset4","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","reason":null,"source":null,"state":"findable","is-active":true,"landing-page":{"status":null,"content-type":null,"checked":null},"published":null,"created":"2014-04-07T09:57:04.000Z","registered":"2014-04-07T09:57:04.000Z","updated":"2014-04-07T09:57:04.000Z","xml":null},"relationships":{"client":{"data":{"id":"bl.jisc-mrd","type":"clients"}},"resource-type":{"data":null},"media":{"data":[{"id":"0000-0000-0000-000k","type":"media"},{"id":"0000-0000-0000-000j","type":"media"}]}}}],"meta":{"total":2,"total-pages":1,"page":1},"links":{"self":"https://app.test.datacite.org/dois/10.4124/demodataset4/media","next":"https://app.test.datacite.org/media?page%5Bnumber%5D=1"}}'
  recorded_at: Sat, 25 Aug 2018 18:21:18 GMT
recorded_with: VCR 3.0.3
