---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.70043/4k3m-nyvg7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"3bf0ee90680774b1d8233d5bdee81d51"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.70043/4k3m-nyvg7","type":"dois","attributes":{"doi":"10.70043/4k3m-nyvg7","prefix":"10.70043","suffix":"4k3m-nyvg7","identifiers":[{"identifier":null,"identifierType":"DOI"}],"creators":[],"titles":[],"publisher":null,"container":{},"publicationYear":null,"subjects":[],"contributors":[],"dates":[],"language":null,"types":{"ris":"GEN","bibtex":"misc","citeproc":"article","schemaOrg":"CreativeWork"},"relatedIdentifiers":[],"sizes":[],"formats":[],"version":null,"rightsList":[],"descriptions":[],"geoLocations":[],"fundingReferences":[],"xml":null,"url":"http://example.org/","contentUrl":null,"metadataVersion":0,"schemaVersion":"http://datacite.org/schema/kernel-4","source":"mds","isActive":true,"state":"findable","reason":null,"created":"2018-12-13T18:45:10.000Z","registered":"2018-12-13T18:45:13.000Z","updated":"2018-12-13T18:45:13.000Z"},"relationships":{"client":{"data":{"id":"demo.datacite","type":"clients"}},"media":{"data":[{"id":"0000-0000-0000-n08f","type":"media"}]}}},"included":[{"id":"demo.datacite","type":"clients","attributes":{"name":"DataCite
        Staff Demo Client","symbol":"DEMO.DATACITE","year":2018,"contactName":"DataCite
        Support","contactEmail":"support@datacite.org","description":null,"domains":"*","url":null,"created":"2018-04-08T09:31:38.000Z","updated":"2018-08-26T01:31:12.000Z","isActive":true,"hasPassword":true},"relationships":{"provider":{"data":{"id":"demo","type":"providers"}},"prefixes":{"data":[{"id":"10.5072","type":"prefixes"},{"id":"10.70043","type":"prefixes"}]}}},{"id":"0000-0000-0000-n08f","type":"media","attributes":{"version":0,"url":"https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg\n","mediaType":"image/jpeg","created":"2018-12-13T18:45:13.000Z","updated":"2018-12-13T18:45:13.000Z"},"relationships":{"doi":{"data":{"id":"10.70043/4K3M-NYVG7","type":"dois"}}}}]}'
  recorded_at: Sat, 29 Dec 2018 13:09:08 GMT
recorded_with: VCR 3.0.3
