---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.0042/foobar3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"6e42b5b51c13793a8952691feb7fa424"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"0000-0000-0000-0006","type":"media","attributes":{"version":0,"url":"http://example.com","media-type":"text/csv","created":"2012-12-12T13:35:33.000Z","updated":"2012-12-12T13:35:33.000Z"},"relationships":{"doi":{"meta":{}}}}],"meta":{"total":1,"total-pages":1,"page":1}}'
  recorded_at: Sat, 03 Mar 2018 07:46:36 GMT
recorded_with: VCR 3.0.3
