---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/media?doi-id=10.4124/ccnwxhx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ca5c1ddbb33a0cde28379ad7d4cc7aa5"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"total":0,"total-pages":0,"page":1}}'
  recorded_at: Fri, 23 Feb 2018 10:16:23 GMT
recorded_with: VCR 3.0.3
