---
http_interactions:
- request:
    method: get
    uri: https://api.stage.datacite.org/dois/10.1393/ncc/i2016-16378-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Sun, 15 Dec 2019 22:41:40 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1393/ncc/i2016-16378-6/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/plain
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: Resource not found.
  recorded_at: Sun, 15 Dec 2019 22:41:40 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.1393
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1393",
            "RA": "mEDRA"
          }
        ]
  recorded_at: Sun, 15 Dec 2019 22:41:41 GMT
- request:
    method: get
    uri: https://doi.org/10.1393/ncc/i2016-16378-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.medra.org/10.1393%2Fncc%2Fi2016-16378-6
    body:
      encoding: ASCII-8BIT
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.medra.org/10.1393%2Fncc%2Fi2016-16378-6">https://data.medra.org/10.1393%2Fncc%2Fi2016-16378-6</a></body></html>
  recorded_at: Sun, 15 Dec 2019 22:41:41 GMT
- request:
    method: get
    uri: https://data.medra.org/10.1393%2Fncc%2Fi2016-16378-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"article-journal","issued":{"date-parts":[[2017,3,22]]},"container-title":"Il
        Nuovo Cimento C","DOI":"10.1393\/ncc\/i2016-16378-6","ISSN":"0390-5551","issue":"6","page":"1-10","page-first":"1","publisher":"SIF","title":"Probing
        the nuclear symmetry energy at high densities with nuclear reactions","URL":"http:\/\/doi.org\/10.1393\/ncc\/i2016-16378-6","volume":"39"}'
  recorded_at: Sun, 15 Dec 2019 22:41:41 GMT
recorded_with: VCR 3.0.3
