---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.18942
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.18942",
            "RA": "JaLC"
          }
        ]
  recorded_at: Tue, 23 Jul 2019 07:48:59 GMT
- request:
    method: get
    uri: https://doi.org/10.18942/apg.201812
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://japanlinkcenter.org/data/10.18942/apg.201812
    body:
      encoding: ASCII-8BIT
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://japanlinkcenter.org/data/10.18942/apg.201812">https://japanlinkcenter.org/data/10.18942/apg.201812</a></body></html>
  recorded_at: Tue, 23 Jul 2019 07:48:59 GMT
- request:
    method: get
    uri: https://japanlinkcenter.org/data/10.18942/apg.201812
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json;charset=UTF-8
      Content-Language:
      - ja-JP
    body:
      encoding: ASCII-8BIT
      string: "{\r\n\t\"DOI\":\"10.18942/apg.201812\",\r\n\t\"URL\":\"https://doi.org/10.18942/apg.201812\",\r\n\t\"language\":\"en\",\r\n\t\"title\":\"Allopolyploid
        Origin and Distribution Range of <i>Acystopteris taiwaniana </i>(Cystopteridaceae:
        Polypodiales)\",\r\n\t\"author\":[\r\n\t\t{\r\n\t\t\t\"given\":\"Atsushi\",\r\n\t\t\t\"family\":\"Ebihara\"\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"given\":\"Narumi\",\r\n\t\t\t\"family\":\"Nakato\"\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"given\":\"Li-Yaung\",\r\n\t\t\t\"family\":\"Kuo\"\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"given\":\"Hiroki\",\r\n\t\t\t\"family\":\"Miyazaki\"\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"given\":\"Shunsuke\",\r\n\t\t\t\"family\":\"Serizawa\"\r\n\t\t}\r\n\t],\r\n\t\"publisher\":\"The
        Japanese Society for Plant Systematics\",\r\n\t\"issued\":{\r\n\t\t\"date-parts\":\r\n\t\t\t[\r\n\t\t\t\t[2019,2,28]\r\n\t\t\t]\r\n\t},\r\n\t\"volume\":\"70\",\r\n\t\"number\":\"1\",\r\n\t\"page\":\"19-28\",\r\n\t\"ISSN\":\r\n\t\t[\"13467565\",\"21897042\"],\r\n\t\"container-title\":\"Acta
        phytotaxonomica et geobotanica\"\r\n}"
  recorded_at: Tue, 23 Jul 2019 07:49:01 GMT
recorded_with: VCR 3.0.3
