---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1393
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1393",
            "RA": "mEDRA"
          }
        ]
  recorded_at: Tue, 23 Jul 2019 07:16:39 GMT
- request:
    method: get
    uri: https://doi.org/10.1393/ncc/i2016-16378-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.medra.org/10.1393%2Fncc%2Fi2016-16378-6
    body:
      encoding: ASCII-8BIT
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.medra.org/10.1393%2Fncc%2Fi2016-16378-6">https://data.medra.org/10.1393%2Fncc%2Fi2016-16378-6</a></body></html>
  recorded_at: Tue, 23 Jul 2019 07:16:40 GMT
- request:
    method: get
    uri: https://data.medra.org/10.1393%2Fncc%2Fi2016-16378-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"article-journal","issued":{"date-parts":[[2017,3,22]]},"container-title":"Il
        Nuovo Cimento C","DOI":"10.1393\/ncc\/i2016-16378-6","ISSN":"0390-5551","issue":"6","page":"1-10","page-first":"1","publisher":"SIF","title":"Probing
        the nuclear symmetry energy at high densities with nuclear reactions","URL":"http:\/\/doi.org\/10.1393\/ncc\/i2016-16378-6","volume":"39"}'
  recorded_at: Tue, 23 Jul 2019 07:16:40 GMT
recorded_with: VCR 3.0.3
