---
http_interactions:
- request:
    method: get
    uri: https://api.stage.datacite.org/dois/10.21373/1572872428618
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"ff089f2d3bb42292a00cdae61a397a6c"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": "https://doi.org/10.21373/1572872428618",
          "doi": "10.21373/1572872428618",
          "url": "https://schema.datacite.org/meta/kernel-4.0/index.html",
          "types": {
            "ris": "COMP",
            "bibtex": "misc",
            "citeproc": "article",
            "schemaOrg": "SoftwareSourceCode",
            "resourceType": "XML",
            "resourceTypeGeneral": "Software"
          },
          "creators": [
            {
              "name": "Miller, Elizabeth",
              "nameType": "Personal",
              "givenName": "Elizabeth",
              "familyName": "Miller",
              "affiliation": [
                {
                  "name": "DataCite"
                }
              ],
              "nameIdentifiers": [
                {
                  "schemeUri": "https://orcid.org",
                  "nameIdentifier": "https://orcid.org/0000-0001-5000-0007",
                  "nameIdentifierScheme": "ORCID"
                }
              ]
            }
          ],
          "titles": [
            {
              "lang": "en-US",
              "title": "Full DataCite XML Example"
            },
            {
              "lang": "en-US",
              "title": "Demonstration of DataCite Properties.",
              "titleType": "Subtitle"
            }
          ],
          "publisher": "DataCite",
          "container": {},
          "subjects": [
            {
              "lang": "en-US",
              "subject": "000 computer science",
              "subjectScheme": "dewey"
            }
          ],
          "contributors": [
            {
              "name": "Starr, Joan",
              "nameType": "Personal",
              "givenName": "Joan",
              "familyName": "Starr",
              "affiliation": [
                {
                  "name": "California Digital Library"
                }
              ],
              "contributorType": "ProjectLeader",
              "nameIdentifiers": [
                {
                  "schemeUri": "https://orcid.org",
                  "nameIdentifier": "https://orcid.org/0000-0002-7285-027X",
                  "nameIdentifierScheme": "ORCID"
                }
              ]
            }
          ],
          "dates": [
            {
              "date": "2017-09-13",
              "dateType": "Updated",
              "dateInformation": "Updated with 4.2 properties"
            },
            {
              "date": "2014",
              "dateType": "Issued"
            }
          ],
          "publicationYear": 2014,
          "language": "en",
          "identifiers": [
            {
              "identifier": "https://schema.datacite.org/meta/kernel-4.2/example/datacite-example-full-v4.2.xml",
              "identifierType": "URL"
            }
          ],
          "sizes": [
            "4 kB"
          ],
          "formats": [
            "application/xml"
          ],
          "version": "4.2",
          "rightsList": [
            {
              "lang": "en-US",
              "rightsUri": "http://creativecommons.org/publicdomain/zero/1.0"
            }
          ],
          "descriptions": [
            {
              "lang": "en-US",
              "description": "XML example of all DataCite Metadata Schema v4.2 properties.",
              "descriptionType": "Abstract"
            }
          ],
          "geoLocations": [
            {
              "geoLocationBox": {
                "eastBoundLongitude": "-68.211",
                "northBoundLatitude": "42.893",
                "southBoundLatitude": "41.090",
                "westBoundLongitude": "-71.032"
              },
              "geoLocationPlace": "Atlantic Ocean",
              "geoLocationPoint": {
                "pointLatitude": "31.233",
                "pointLongitude": "-67.302"
              },
              "geoLocationPolygon": [
                {
                  "polygonPoint": {
                    "pointLatitude": "41.991",
                    "pointLongitude": "-71.032"
                  }
                },
                {
                  "polygonPoint": {
                    "pointLatitude": "42.893",
                    "pointLongitude": "-69.622"
                  }
                },
                {
                  "polygonPoint": {
                    "pointLatitude": "41.991",
                    "pointLongitude": "-68.211"
                  }
                },
                {
                  "polygonPoint": {
                    "pointLatitude": "41.090",
                    "pointLongitude": "-69.622"
                  }
                },
                {
                  "polygonPoint": {
                    "pointLatitude": "41.991",
                    "pointLongitude": "-71.032"
                  }
                }
              ]
            }
          ],
          "fundingReferences": [
            {
              "awardTitle": "Full DataCite XML Example",
              "funderName": "National Science Foundation",
              "awardNumber": "CBET-106",
              "funderIdentifier": "https://doi.org/10.13039/100000001",
              "funderIdentifierType": "Crossref Funder ID"
            }
          ],
          "relatedIdentifiers": [
            {
              "schemeUri": "https://github.com/citation-style-language/schema/raw/master/csl-data.json",
              "relationType": "HasMetadata",
              "relatedIdentifier": "https://data.datacite.org/application/citeproc+json/10.5072/example-full",
              "relatedIdentifierType": "URL",
              "relatedMetadataScheme": "citeproc+json"
            },
            {
              "relationType": "IsReviewedBy",
              "relatedIdentifier": "arXiv:0706.0001",
              "resourceTypeGeneral": "Text",
              "relatedIdentifierType": "arXiv"
            }
          ],
          "providerId": "gbif",
          "clientId": "gbif.gbif",
          "agency": "datacite",
          "state": "findable"
        }
  recorded_at: Sun, 11 Oct 2020 06:53:38 GMT
recorded_with: VCR 3.0.3
